body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(203, 210, 221);
  }
  
  header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: right;
    color: white;
  }

  
  #location {
    margin-right: 10px;
  }
  
  button {
    background-color: #2c7830;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1ad521;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #2c7830;
  }
  
  #forecast, #breakdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .weather-box, .breakdown-box {
    border: 10px solid  #4CAF50;
    border-radius: 50px;
    background-color: #cfe5cf;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: calc(20% - 20px);
  }

  .weather-box {
    width: calc(15% - 20px);
    height: 227px;
    padding: 93px;
    margin: 0px;
}

  
  .breakdown-box {
    width: calc(25% - 30px);
    height: 225px;
    padding: 43px;
    margin: -5px;
  }

  
  